<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pasarela de Pago
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-subtitle>Category</ion-card-subtitle>
      <ion-card-title>Product</ion-card-title>
      <ion-row>
        <ion-col>
          Total Payment
        </ion-col>
        <ion-col>
          {{icon}}{{paymount}}
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="full" color="success" (click)="payWithStripe()">Pay with Stripe</ion-button>
      <div id="paypal-button-container"></div>
    </ion-card-content>
  </ion-card>
</ion-content>
